.top{height: 70px;  background: #515c8e;  margin-bottom: 120px; position: relative;}
.img1{position: absolute; left: 50%; top:0; margin-left: -100px; z-index: 111;}
.img1 p{position: absolute; left:54px; top:89px; font-size: 20px; color:#fff; font-family: 'Microsoft YaHei'}
.ul1{width:210px; height:35px; overflow: hidden;position: absolute; left: 200px; top:16px;}
.ul1 li{width:24px; height:35px; float: left; line-height: 34px; text-align: center; font-size: 20px; position: relative; color:#fff; border-radius: 5px;}
.ul1 li img{position: absolute; left: 0; top:0;  border-radius: 5px;}
.hd-bot{width: 100%; height: 40px; background: url("../img/vect.png") repeat-x; position: absolute; left: 0; top: 70px;}
.con{width:1000px; height:7100px; background: #fff; margin: 0 auto; position: relative; margin-top: -8px; z-index: 111;}
.main-tit{padding: 50px 80px;}
.main-tit .subtitle{ font-size:30px; font-family: Lato, "Microsoft YaHei", sans-serif; font-weight: 900; margin: 0.5em 0; text-shadow: 1px 1px #EFEFEF,2px 2px #AEE2D9; color: #22C3AA;}
.main-tit a{font-size: 33px; color:#AB466A;}
.main-tit a:hover{color:#333;}
.con-1{width:100%; height:586px; border-top:3px dashed #22C3AA; position:relative;}
.con-1 h3{font-size:48px; padding-left: 88px; font-family: 'Microsoft YaHei'; color:#ccc; margin-top: 30px;}
.con-1 .p1{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 10px;}
.con-1 .p2{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 2px;}
.con-1 .title{width:796px;background-color: #AEE2D9;margin: 20px auto;padding: 1em 1.5em;border-style: solid;border-color: #22C3AA;border-width: 0 1px 0 7px;color: #444;font-size: 1rem;}
.title p{height:95px; line-height: 30px; font-size: 20px; font-family:'Microsoft YaHei';}
#mar{width:680px; border:1px solid #000; height:221px; margin: 100px auto; position: relative; overflow: hidden;}
#mar ul{position: absolute;left: 0;top:0;overflow:hidden;
}
#mar ul li{width:200px; float: left; margin: 10px; height: 222px;}
#mar ul li img{width: 100%;}
.btn{position: absolute; left: 43%; top:300px;}
.btn input{width:100px; position: relative;}
.con-2{width:100%; height:818px; border-top:3px dashed #22C3AA; position:relative;}
.con-2 h3{font-size:48px; padding-left: 88px; font-family: 'Microsoft YaHei'; color:#ccc; margin-top: 30px;}
.con-2 .p1{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 10px;}
.con-2 .p2{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 2px;}
.con-2 .title{width:796px;background-color: #AEE2D9;margin: 20px auto;padding: 1em 1.5em;border-style: solid;border-color: #22C3AA;border-width: 0 1px 0 7px;color: #444;font-size: 1rem;}
.con-2 .title p{height:61px; line-height: 30px; font-size: 20px; font-family:'Microsoft YaHei';}
.con-2 #change{color: #fff;}
#ul3{width: 516px;margin: 0 auto;}
#ul3 li{width: 150px;  height: 150px;  float: left;  margin: 10px;  border: 1px solid #000;  }
#ul3 li.active{  border: 3px dashed red;  }
#ul3 img{  width: 150px;}
#change{width:100px; height:30px; text-align: center;line-height:30px;background: #09c;margin-left:445px;}
.con-3{width:100%; height:818px; border-top:3px dashed #22C3AA; position:relative;}
.con-3 h3{font-size:48px; padding-left: 88px; font-family: 'Microsoft YaHei'; color:#ccc; margin-top: 30px;}
.con-3 .p1{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 10px;}
.con-3 .p2{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 2px;}
.con-3 .title{width:796px;background-color: #AEE2D9;margin: 20px auto;padding: 1em 1.5em;border-style: solid;border-color: #22C3AA;border-width: 0 1px 0 7px;color: #444;font-size: 1rem;}
.con-3 .title p{height:30px; line-height: 30px; font-size: 20px; font-family:'Microsoft YaHei';}
#znsRotatePic { width: 900px; height: 380px; margin: 80px auto 0; position: relative; background: #000 url(images/bg.jpg); overflow: hidden; }
#znsRotatePic li { width: 250px; height: 340px; position: absolute; text-align: center; }
#znsRotatePic li span { width: 212px; height: 90px; overflow: hidden; position: absolute; bottom: 0; left: 20px;background:url('images/shade.png') !important;  background:none;  filter:none!important;  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/shade.png',sizingMethod='images');  }
#znsRotatePic img { position: relative; }
#znsRotatePic .pic1 { top: 20px; left: 77px; }
#znsRotatePic .pic1 img {top:20px;}
#znsRotatePic .pic2 { top: 55px; left: 336px; }
#znsRotatePic .pic3 { top: 20px; left: 595px; }
#znsRotatePic .pic3 img {top:20px;}
#znsRotatePic .unactive {filter: alpha(opacity=20); opacity: 0.4;}
.con-4{width:100%; height:818px; border-top:3px dashed #22C3AA; position:relative;}
.con-4 h3{font-size:48px; padding-left: 88px; font-family: 'Microsoft YaHei'; color:#ccc; margin-top: 30px;}
.con-4 .p1{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 10px;}
.con-4 .p2{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 2px;}
.con-4 .title{width:796px;background-color: #AEE2D9;margin: 20px auto;padding: 1em 1.5em;border-style: solid;border-color: #22C3AA;border-width: 0 1px 0 7px;color: #444;font-size: 1rem;}
.con-4 .title p{height:62px; line-height: 30px; font-size: 20px; font-family:'Microsoft YaHei';}
#blocking{ width: 700px; height: 400px; background: url(img4/0.jpg); margin: 50px auto; position: relative;  }
#blocking span{background: url(img4/1.jpg); position: absolute; opacity: 0;  }
.con-4 #btn3{color:#fff;position: absolute; left:433px;top:235px; width:100px; height:30px; text-align: center; line-height: 30px; background: #09c;}
.con-5{width:100%; height:818px; border-top:3px dashed #22C3AA; position:relative;}
.con-5 h3{font-size:48px; padding-left: 88px; font-family: 'Microsoft YaHei'; color:#ccc; margin-top: 30px;}
.con-5 .p1{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 10px;}
.con-5 .p2{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 2px;}
.con-5 .title{width:796px;background-color: #AEE2D9;margin: 20px auto;padding: 1em 1.5em;border-style: solid;border-color: #22C3AA;border-width: 0 1px 0 7px;color: #444;font-size: 1rem;}
.con-5 .title p{height:32px; line-height: 30px; font-size: 20px; font-family:'Microsoft YaHei';}
#iphone { width: 900px; height: 600px; background: url(../img/bg.jpg); position: absolute; top: 50%; left: 50%; margin: -160px 0 0 -450px; }
#wrap { width: 238px; height: 360px; position: absolute; top: 121px; left: 326px; overflow:hidden; }
#iphone ul { width: 960px; height: 361px; cursor: pointer; position: absolute; top: 0; left: 0; }
#iphone li { float: left; width:240px; height:360px; overflow:hidden; }
.con-6{width:100%; height:818px; border-top:3px dashed #22C3AA; position:relative; margin-top:130px;}
.con-6 h3{font-size:48px; padding-left: 88px; font-family: 'Microsoft YaHei'; color:#ccc; margin-top: 30px;}
.con-6 .p1{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 10px;}
.con-6 .p2{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 2px;}
.con-6 .title{width:796px;background-color: #AEE2D9;margin: 20px auto;padding: 1em 1.5em;border-style: solid;border-color: #22C3AA;border-width: 0 1px 0 7px;color: #444;font-size: 1rem;}
.con-6 .title p{height:32px; line-height: 30px; font-size: 20px; font-family:'Microsoft YaHei';}
#pv-box{width: 600px;height: 358px;border: 1px solid #000;margin: 50px auto;position: relative;overflow: hidden;  }
#pv-ul1{position: absolute; left: 0; top: 50%; margin-top: -90px;  }
#pv-ul1 li{width: 260px;height: 179px;float: left;padding: 0 10px;position: relative;}
#pv-ul1 li img{width: 100%;}
#pv-ul1 li span{width: 100%;height: 100%;font-size: 100px;text-align: center;position: absolute;left: 0;top: 0;line-height: 179px;}
.con-7{width:100%; height:626px; border-top:3px dashed #22C3AA; position:relative; margin-top:-147px;}
.con-7 h3{font-size:48px; padding-left: 88px; font-family: 'Microsoft YaHei'; color:#ccc; margin-top: 30px;}
.con-7 .p1{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 10px;}
.con-7 .p2{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 2px;}
.con-7 .title{width:796px;background-color: #AEE2D9;margin: 20px auto;padding: 1em 1.5em;border-style: solid;border-color: #22C3AA;border-width: 0 1px 0 7px;color: #444;font-size: 1rem;}
.con-7 .title p{height:32px; line-height: 30px; font-size: 20px; font-family:'Microsoft YaHei';}
.con-7 #ul5{height:160px; margin: 0 auto; position: relative; overflow: hidden; margin-left:326px; margin-top: 40px;}
.con-7 #ul5 li{width:256px; height:160px; position: absolute; top:0; left: 0;}
.con-7 #ul5 img{width:256px;}
.con-8{width:100%; height:818px; border-top:3px dashed #22C3AA; position:relative; margin-top:-147px;}
.con-8 h3{font-size:48px; padding-left: 88px; font-family: 'Microsoft YaHei'; color:#ccc; margin-top: 30px;}
.con-8 .p1{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 10px;}
.con-8 .p2{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 2px;}
.con-8 .title{width:796px;background-color: #AEE2D9;margin: 20px auto;padding: 1em 1.5em;border-style: solid;border-color: #22C3AA;border-width: 0 1px 0 7px;color: #444;font-size: 1rem;}
.con-8 .title p{height:62px; line-height: 30px; font-size: 20px; font-family:'Microsoft YaHei';}
.con-8 .img-1{padding-left:42px;}
.con-9{width:100%; height:770px; border-top:3px dashed #22C3AA; position:relative;}
.con-9 h3{font-size:48px; padding-left: 88px; font-family: 'Microsoft YaHei'; color:#ccc; margin-top: 30px;}
.con-9 .p1{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 10px;}
.con-9 .p2{width:840px; height:2px; border-bottom:4px solid #22C3AA; margin: 0 auto; margin-top: 2px;}
.con-9 .title{width:796px;background-color: #AEE2D9;margin: 20px auto;padding: 1em 1.5em;border-style: solid;border-color: #22C3AA;border-width: 0 1px 0 7px;color: #444;font-size: 1rem;}
.con-9 .title p{height:62px; line-height: 30px; font-size: 20px; font-family:'Microsoft YaHei';}
.con-9 .img-1{padding-left:42px;}
.foot{width:1000px; height:102px; margin: 40px auto; text-align: center; padding-left:400px;}
.foot a{float:left; font-size: 30px; color:#fff; font-family: 'Microsoft YaHei'; margin-right:20px;}
.foot a:hover{color:#333;}
.scroll{background: url("../img/xhj.png") -48px -19px; position: fixed;  right:23px; bottom:50px; width:51px; height:100px;   cursor:pointer;}
.scroll:hover{background: url("../img/xhj.png") -645px -19px; width:51px; height:162px;}
.last{width:100%;height:50px; background: #000; position: relative;}
.last div{background: url("../img/last.png"); width:100%; height:10px; position: absolute; left: 0; top:-10px; z-index:999;}